@charset "UTF-8";


/*

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop 992px até 1200px
Telas Grandes acima de 1200px


*/



@media screen and (max-width: 600px) {

    main {
    
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }



}


* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagem/building.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98vw;
    height: 110vh;
    position: relative;
    background-position: center bottom;
}

main {
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

h1 {
    margin: 30px;
}

.telalogin {
    background-color: black;
    color: white;
    border: 2px solid black;
    width: 250px;
    height: 300px;

    position: relative;

}


.telalogo {   
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagem/logo.png);
    background-position: center center;
    border: 2px solid black;
    width: 250px;
    height: 300px;
}

form {
    position: absolute;

    top: 30%;
    left: 10%;
}

.inputs {
    height: 15px;
}

.enter {
    background-color: black;
    color: white;
    width: 50px;
    cursor: pointer;

}

.material-icons:hover {
    color: #EBB702;
}

.enter:hover {
    color: #EBB702;
}